# ==============================================================================
# 🧩 FILE: scripts.tmpl
# 🎯 ROLE: Low-level Bash functions library for core operations
# ==============================================================================

{{ define "core_kernel_copy" }}
{{ template "hook_kernel_paths" . }}
if [ -n "$KERNEL_PATH" ]; then cp "$KERNEL_PATH" /home/eggs/isodir/live/vmlinuz; fi
if [ -n "$INITRD_PATH" ]; then cp "$INITRD_PATH" /home/eggs/isodir/live/initrd.img; fi
{{ end }}
