# ==============================================================================
# 🌀 MODULO DEBIAN / UBUNTU
# ==============================================================================
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DECLARATIVE COSTANTS 
# ----------------------------------------------------------------------------
{{ define "distro_boot_params" }}boot=live components cow_spacesize=2G{{ end }}

# ----------------------------------------------------------------------------
# 5. INITRAMFS LIVE
# ----------------------------------------------------------------------------
{{ define "distro_initramfs_cmd" }}
# Nessuna operazione necessaria.
true
{{ end }}

# ----------------------------------------------------------------------------
# 6. COPY KERNEL/INITRD
# ----------------------------------------------------------------------------
{{ define "distro_copy_kernel_cmd" }}
#!/bin/bash
set -e
# debian: distro_copy_kernel_cmd

KERNEL_VERSION=$(uname -r)
echo "-> Copia Kernel Debian/Ubuntu ($KERNEL_VERSION)..."

cp "/boot/vmlinuz-$KERNEL_VERSION" /home/eggs/isodir/live/vmlinuz
cp "/boot/initrd.img-$KERNEL_VERSION" /home/eggs/isodir/live/initrd.img
{{ end }}

# ----------------------------------------------------------------------------
# 8. COMPRESSIONE FILESYSTEM.SQUASHFS
# ----------------------------------------------------------------------------
{{ define "distro_hook_squashfs" -}}
command: "echo 'Nessun hook squashfs necessario per la famiglia Debian.' || true"
{{ end -}}



# ==============================================================================
# 🎯 CALAMARES INSTALLER HOOKS
# ==============================================================================
{{ define "distro_hook_install_logic" }}
#!/bin/bash
# debian: distro_hook_install_logic
set -e
rm -f /etc/sudoers.d/00-live
# Applichiamo il fix anche sul sistema installato prima di generare l'initramfs
echo "RESUME=none" > /etc/initramfs-tools/conf.d/resume
update-initramfs -u

if [ -d /sys/firmware/efi ]; then
    grub-install --target=x86_64-efi --efi-directory=/boot/efi --bootloader-id=oa-live --recheck
else
    TARGET_DISK=$(grub-probe -t disk / 2>/dev/null || echo "/dev/sda")
    grub-install --target=i386-pc --recheck "$TARGET_DISK"
fi
update-grub
{{ end }}
