[Unit]
Description=eui: eggs unattended install service
After=network.target

[Service]
Type=simple
ExecStart=
ExecStart=-/sbin/agetty --noclear --autologin root %I $TERM 
TimeoutStartSec=0

#ExecStart=/opt/eggs-unattended-install

[Install]
WantedBy=default.target

