[Unit]
Description=eui: eggs unattended install service
After=network.target

[Service]
Type=simple
ExecStart=
ExecStart=/usr/bin/gnome-terminal -e "/opt/eui-start.sh"
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
