[Desktop Entry]
Type=Application
Version=1.0
Name=Richiesta Assistenza remota
GenericName=dwagent - Assistenza remota
Keywords=dwagent
TryExec=dwagent.sh
Exec=sudo -H /usr/local/bin/dwagent.sh
Comment=Richiesta assistenza remota
Icon=2xsession.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
