[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Introduzione - Penguin's eggs
Type=Link
URL=https://penguin-s-eggs.gitbook.io/project/
Icon=/usr/share/icons/eggs.png
Name[it_IT]=Penguin's eggs
