LABEL arch64
TEXT HELP
Boot the Platter Engineer live medium on BIOS.
It allows you to perform system maintenance.
ENDTEXT
MENU LABEL Platter Engineer live medium (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisodevice=UUID=%ARCHISO_UUID%

# Accessibility boot option
LABEL arch64speech
TEXT HELP
Boot the Platter Engineer live medium on BIOS with speakup screen reader.
It allows you to perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL Platter Engineer live medium (x86_64, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisodevice=UUID=%ARCHISO_UUID% accessibility=on
