[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=Live Installer
Comment=Install this system to your hard disk
Exec=pkexec eggs sysinstall
Icon=penguins-eggs
Terminal=@@TERMINAL@@
Categories=System;
