if loadfont $prefix/font.pf2 ; then
  set gfxmode=800x600
  set gfxpayload=keep
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

set theme=/boot/grub/theme.cfg

insmod play
play 960 440 1 0 4 440 1
if [ ${iso_path} ] ; then
set loopback="findiso=${iso_path}"
export loopback
fi

menuentry "{{{customName}}} (kernel {{{kernel}}}) Italiano" {
  linux {{{vmlinuz}}} boot=live components locales=it_IT.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} quiet splash "${loopback}"
  initrd  {{{initrdImg}}}
}
submenu "{{{customName}}} with Localisation Support" {
    menuentry "English (en)" {
    linux {{{vmlinuz}}} boot=live components locales=en_US.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} quiet splash "${loopback}"
    initrd  {{{initrdImg}}}
    }
    menuentry "French (fr)" {
    linux {{{vmlinuz}}} boot=live components locales=fr_FR.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} quiet splash "${loopback}"
    initrd  {{{initrdImg}}}
    }
    menuentry "German (de)" {
    linux {{{vmlinuz}}} boot=live components locales=de_DE.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} quiet splash "${loopback}"
    initrd  {{{initrdImg}}}
    }
    menuentry "Portuguese (Brazil) (pt_BR)" {
    linux {{{vmlinuz}}} boot=live components locales=pt_BR.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} quiet splash "${loopback}"
    initrd  {{{initrdImg}}}
    }
        menuentry "Spanish (es)" {
    linux {{{vmlinuz}}} boot=live components locales=es_PE.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} quiet splash "${loopback}"
    initrd  {{{initrdImg}}}
    }
}
{
  menuentry "{{{customName}}} (kernel {{{kernel}}}) safe" {
  linux {{{vmlinuz}}} boot=live components locales=en_US.UTF-8 {{{netconfigOpt}}} {{{usernameOpt}}} {{{timezoneOpt}}} nosplash vga=normal "${loopback}"
  initrd  {{{initrdImg}}}
}
# Tutti questi restano da provare nella opzione safe
# memtest noapic noapm nodma nomce nolapic nomodeset nosmp    
