#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Proxmox VE
GenericName=Proxmox VE
Type=Application
Exec=xdg-open https://127.0.0.1:8006
Icon=proxmox-ve
Categories=system
Name[it]=Proxmox VE
GenericName[it]=Proxmox VE
Comment[it]=Amministrazione Proxmox VE
Name[en]=Proxmox VE
GenericName[en]=Proxmox VE
Comment[en]=Proxmox VE administration
Name[es]=Proxmox VE
GenericName[es]=Proxmox VE
Comment[es]=Administration de Proxmox VE
Name[pt]=Proxmox VE
GenericName[pt]=Proxmox VE
Comment[pt]=Administração de Proxmox VE
Name[fr]=Proxmox VE
GenericName[fr]=Proxmox VE
Comment[fr]=Administration de Proxmox VE
