Source: {{{name}}}
Package: {{{name}}}
Version: {{{version}}}
Section: {{{section}}}
Priority: {{{priority}}}
Architecture: {{{arch}}}
Maintainer: {{{mantainer}}}
Description: {{{description}}}
Depends: {{{depends}}}
Suggest: calamares, qml-module-qtquick2, qml-module-qtquick-controls
Conflicts: eggs, calamares-settings-debian, calamares-settings-ubuntu 

