[Desktop Entry]
Name=Installazione sistema
Comment=Assistente installazione
GenericName=Aiuto installazione
Exec=/usr/local/share/penguins-eggs/assistant.sh 
Terminal=false
Type=Application
Icon=install-debian
Categories=system
