[Desktop Entry]
Name=Installazione Linux
GenericName=Installazione Linux
Exec=/usr/local/share/penguins-eggs/assistant.sh 
Terminal=false
Type=Application
Icon=system-software-install
Categories=system
