[Desktop Entry]
Name=Aiuto installazione
Comment=Assistente scelta installazione
GenericName=Aiuto installazione
Exec=/usr/local/share/penguins-eggs/assistant.sh 
Terminal=false
Type=Application
Icon=calamares
Categories=system
