[Desktop Entry]
Categories=Qt;System;
Comment[en_CA]=Calamares — Installer for OpenOS Live
Comment=Calamares — Installer for OpenOS Live
Exec=/sbin/install-debian
GenericName[en_CA]=Calamares Installer
GenericName=Calamares Installer
Icon=/etc/calamares/branding/applications/Install-OpenOS-Neon_RLTS-Desktop.png
Keywords=calamares;system;install;debian;installer
MimeType=
Name[en_CA]=Install OpenOS
Name=Install OpenOS
Path=
StartupNotify=true
StartupWMClass=calamares
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
