#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Assistenza remota
GenericName=Assistenza remota
Exec=dwagent.sh
Comment=Assistenza remota
Keywords=calamares;system;install;debian;installer
Icon=remote-assistance
Terminal=false
