[Desktop Entry]
Type=Application
Version=1.0
Name=Install Linux
GenericName=Calamares Installer
Exec=/sbin/install-debian
Comment=Calamares — Installer for Debian Live
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
Name[it]=Installa sistema
GenericName[it]=Installa sistema
Comment[it]=Installazione sistema GUI
Name[en]=Install system
GenericName[en]=Install the system
Comment[en]=Install the system GUI
Name[es]=Instalación del sistema
GenericName[es]=Instalación del sistema
Comment[es]=Instalación del sistema GUI
Name[pt]=Instalação do sistema
GenericName[pt]=Instalação do sistema
Comment[pt]=Instalação do sistema  GUI
Name[fr]=Installation du système
GenericName[fr]=Installation du système
Comment[fr]=Installation du système  GUI
