[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo eggs install --mx
Icon=/usr/share/gazelle-installer-data/logo.png
Name=Installer
Name[am]=መግጠሚያ
Name[ar]=تنصيب
Name[bg]=Инсталирай
Name[ca]=Instal·lador
Name[cs]=Instalovat
Name[da]=Installationsprogram
Name[de]=Installation
Name[el]=Εγκατάσταση
Name[es]=Instalar
Name[et]=Paigalda
Name[eu]=Instalatu
Name[fa]=نصب
Name[fi]=Asenna
Name[fr]=Installer
Name[he_IL]=Installer
Name[hi]=इंस्टॉलर
Name[hr]=Instalacija
Name[hu]=Telepítő
Name[id]=Installer
Name[is]=Setja upp
Name[it]=Installa
Name[ja]=インストール
Name[kk]=Installer
Name[ko]=설치
Name[lt]=Diegimo programa
Name[mk]=Инсталирај
Name[mr]=Installer
Name[nb]=Installer
Name[nl]=Installeerder
Name[pl]=Instalator
Name[pt_BR]=Instalador
Name[pt]=Instalador
Name[ro]=Instalează
Name[ru]=Установщик
Name[sk]=Inštalovať
Name[sl]=Namesti
Name[sq]=Instalo
Name[sr]=Инсталација
Name[sv]=Installera
Name[tr]=Yükleyici
Name[uk]=Встановити
Name[zh_CN]=安装
Name[zh_TW]=安装
Comment=Install Linux
Comment[am]=የ ሊነክስ መግጠሚያ
Comment[ar]=Install Linux
Comment[bg]=Install Linux
Comment[ca]=Instal·la Linux
Comment[cs]=Nainstalovat LInux
Comment[da]=Installer Linux
Comment[de]=Linux installieren
Comment[el]=Εγκατάσταση του Linux
Comment[es]=Instalar Linux
Comment[et]=Install Linux
Comment[eu]=Install Linux
Comment[fa]=Install Linux
Comment[fi]=Asenna Linux
Comment[fr]=Installer Linux
Comment[he_IL]=Install Linux
Comment[hi]=Install Linux
Comment[hr]=Install Linux
Comment[hu]=Linux telepítése
Comment[id]=Install Linux
Comment[is]=Install Linux
Comment[it]=Installa Linux
Comment[ja]=Linux のインストール
Comment[kk]=Install Linux
Comment[ko]=Install Linux
Comment[lt]=Įdiegti Linux
Comment[mk]=Install Linux
Comment[mr]=Install Linux
Comment[nb]=Install Linux
Comment[nl]=Installeer Linux
Comment[pl]=Zainstaluj Linuksa
Comment[pt_BR]=Instala o sistema no disco rígido
Comment[pt]=Instala o sistema no disco rígido [gazelle-installer]
Comment[ro]=Install Linux
Comment[ru]=Установка Linux
Comment[sk]=Nainštalovať Linux
Comment[sl]=Namesti Linux
Comment[sq]=Install Linux
Comment[sr]=Install Linux
Comment[sv]=Installera Linux
Comment[tr]=Install Linux
Comment[uk]=Install Linux
Comment[zh_CN]=Install Linux
Comment[zh_TW]=安裝 Linux
Terminal=false
NoDisplay=true
