#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Penguin's eggs cli-installer
Type=Application
Terminal=true
Exec=sudo /usr/bin/eggs install -v
Icon=utilities-terminal
Categories=GNOME;GTK;Utility;
