#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=GNOME;GTK;Utility;
Comment=Penguins' eggs docs/blog
Encoding=UTF-8
Exec=xdg-open https://penguins-eggs.net/
GenericName=Penguins' eggs
Icon=eggs
Name=Penguins' eggs
Type=Application
