# eggs: isolinux.main.cfg
#

# search path for the c32 support libraries (libcom32, libutil etc.)
path 
include isolinux.theme.cfg
default vesamenu.c32
prompt 0
timeout 100

label Live
  menu label {{{fullname}}} Live/Installation Mode  
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}}
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} priority=critical retbleed=off mitigations=off audit=0 amd_pstate.enable=1 amd-pstate=active intel_pstate=enable nowatchdog loglevel=0 fsck.mode=skip debugfs=off nmi_watchdog=0 debug=0 audit=0 show_ssp=0 earlyprintk=off kaslr=off no_pasr cfi=of quiet splash 
  
label Safe
  menu label {{{fullname}}} Safe Mode
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}} 
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} priority=critical retbleed=off mitigations=off audit=0 amd_pstate.enable=1 amd-pstate=active intel_pstate=enable nowatchdog loglevel=0 fsck.mode=skip debugfs=off nmi_watchdog=0 debug=0 audit=0 show_ssp=0 earlyprintk=off kaslr=off no_pasr cfi=of quiet splash 
 

label Text
  menu label {{{fullname}}} Text Mode
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}} 
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} priority=critical retbleed=off mitigations=off audit=0 amd_pstate.enable=1 amd-pstate=active intel_pstate=enable nowatchdog loglevel=0 fsck.mode=skip debugfs=off nmi_watchdog=0 debug=0 audit=0 show_ssp=0 earlyprintk=off kaslr=off no_pasr cfi=of quiet splash 
  
label local
  menu label Boot from local disk
	COM32 chain.c32
	APPEND hd0
  say "Booting from the first hard drive"
