# eggs: isolinux.main.cfg
#

# search path for the c32 support libraries (libcom32, libutil etc.)
path 
include isolinux.theme.cfg
default vesamenu.c32
prompt 0
timeout 100

label Live
  menu label {{{fullname}}} Live/Installation Mode  
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}}
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} auto noprompt priority=critical mitigations=off amd_pstate.enable=0 intel_pstate=disable loglevel=0 nowatchdog elevator=noop slab_nomerge init_on_alloc=1 init_on_free=1 page_alloc.shuffle=1 pti=on vsyscall=none debugfs=off oops=panic module.sig_enforce=1 lockdown=confidentiality mce=0 loglevel=0 fsck.mode=skip quiet splash
  
  
label Safe
  menu label {{{fullname}}} Safe Mode
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}} 
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} auto noprompt priority=critical nomodeset apparmor=0 net.ifnames=0 noapic noapm nodma nomce nolapic nosmp vga=normal  mitigations=off amd_pstate.enable=0 intel_pstate=disable loglevel=0 nowatchdog elevator=noop slab_nomerge init_on_alloc=1 init_on_free=1 page_alloc.shuffle=1 pti=on vsyscall=none debugfs=off oops=panic module.sig_enforce=1 lockdown=confidentiality mce=0 loglevel=0 fsck.mode=skip quiet splash
 

label Text
  menu label {{{fullname}}} Text Mode
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}} 
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} auto noprompt priority=critical init 3  mitigations=off amd_pstate.enable=0 intel_pstate=disable loglevel=0 nowatchdog elevator=noop slab_nomerge init_on_alloc=1 init_on_free=1 page_alloc.shuffle=1 pti=on vsyscall=none debugfs=off oops=panic module.sig_enforce=1 lockdown=confidentiality mce=0 loglevel=0 fsck.mode=skip quiet splash
  
label local
  menu label Boot from local disk
	COM32 chain.c32
	APPEND hd0
  say "Booting from the first hard drive"
