# A mustache template for module: packages.conf
---
initramfsName: {{{initrd}}}

# Optional: define a list of strings to be passed as arguments to Dracut
# By default, -f is always included
options: [ "-f" ]