# This service auto-login the root user without the need of a login manager
[Unit]
After=systemd-user-sessions.service

[Service]
ExecStart=/sbin/mingetty --autologin root --loginprog=/usr/local/sbin/x11login --noclear tty8 38400

[Install]
WantedBy=multi-user.target