[Desktop Entry]
Type=Application
Version=1.0
Name=Install Ufficiozero
GenericName=Calamares Installer
Exec=/sbin/install-debian
Comment=Calamares — Installer Ufficiozero
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
