# Maintainer: Piero Proietti <piero.proietti@gmail.com>
pkgname=penguins-eggs
pkgver={{.BaseVersion}}
pkgrel={{.Rel}}
pkgdesc="penguins-eggs universal Linux remastering"
url="https://penguins-eggs.net"
arch="x86_64"
license="GPL-3.0-only"

# Merged and cleaned dependencies from the former oa-tools and penguins-eggs
depends="
    alpine-conf
    apk-tools
    bash
    bash-completion
    btrfs-progs
    cryptsetup
    curl
    device-mapper-libs
    dosfstools
    git
    gnupg
    grub-bios
    grub-efi
    efibootmgr
    libarchive-tools
    lsblk
    lvm2
    mkinitfs
    musl-locales
    parted
    polkit
    qemu-guest-agent
    rsync
    shadow
    squashfs-tools
    sudo
    util-linux
    xorriso
    yq
    zstd
"

# Handle transition from oa-tools (former package name)
replaces="oa-tools"

options="!check"

# TRUCCO 1: Disinneschiamo lo split automatico dei pacchetti.
doc() { return 0; }
bashcomp() { return 0; }
zshcomp() { return 0; }
fishcomp() { return 0; }

package() {
    mkdir -p "$pkgdir/usr"
    mkdir -p "$pkgdir/etc"

    cp -a "$startdir/usr/"* "$pkgdir/usr/"
    cp -a "$startdir/etc/"* "$pkgdir/etc/"

    # TRUCCO 2: Normalizzazione dei permessi.
    find "$pkgdir/usr/share" -type f -exec chmod 644 {} +

    # TRUCCO 3: Compressione manuale delle Man Pages.
    # Visto che abbiamo disabilitato il gestore doc di Alpine, dobbiamo
    # comprimere noi i file .1 per non far scattare l'errore fatale.
    if [ -d "$pkgdir/usr/share/man/man1" ]; then
        gzip -9 "$pkgdir"/usr/share/man/man1/*.1
    fi
}
