# Maintainer: Piero Proietti <piero.proietti@gmail.com>
pkgname=penguins-eggs-arch
pkgver={{.BaseVersion}}
pkgrel={{.Rel}}
pkgdesc="penguins-eggs universal Linux remastering"
arch=('x86_64')
url="https://penguins-eggs.net"
license=('GPL3')
options=('!debug')

depends=(
	'archiso'
	'mkinitcpio-archiso'
	'arch-install-scripts'
	'bash-completion'
	'curl'
	'dosfstools'
	'efibootmgr'
	'git'
	'glibc'
	'gnupg'
	'grub'
	'yq'
	'libarchive'
	'libisoburn'
	'mtools'
	'pv'
	'rsync'
	'squashfs-tools'
	'sudo'
)

# Indichiamo a pacman che questo pacchetto sostituisce la vecchia guardia
conflicts=('oa-tools-arch' 'oa-tools')
replaces=('oa-tools-arch' 'oa-tools')

package() {
    # Tracciamo i confini
    mkdir -p "${pkgdir}/usr"
    mkdir -p "${pkgdir}/etc"

    # Usiamo $startdir per puntare alla root dello staging (/tmp/oa-stage-dir)
    cp -a "${startdir}/usr/"* "${pkgdir}/usr/"
    cp -a "${startdir}/etc/"* "${pkgdir}/etc/"
}
