# Maintainer: Piero Proietti <piero.proietti@gmail.com>
pkgname=penguins-eggs
pkgver={{.BaseVersion}}
pkgrel={{.Rel}}
pkgdesc="penguins-eggs universal Linux remastering"
arch=('x86_64')
url="https://penguins-eggs.net"
license=('GPL3')
options=('!debug')

# DIPENDENZE UNIVERSALI (non creano alcun conflitto su nessuna derivata)
depends=(
	'arch-install-scripts'
	'bash-completion'
	'btrfs-progs'
	'curl'
	'dosfstools'
	'e2fsprogs'
	'efibootmgr'
	'git'
	'glibc'
	'gnupg'
	'grub'
	'libarchive'
	'libisoburn'
	'mtools'
	'nbd'
	'pv'
	'rsync'
	'squashfs-tools'
	'sudo'
	'wget'
	'yq'
	'qemu-guest-agent'
)

# DIPENDENZE OPZIONALI (Il tuo engine si occupa di installarle a runtime se servono)
optdepends=(
	'archiso: richiesto per generare ISO su Arch Linux puro'
	'mkinitcpio-archiso: per la generazione initramfs su Arch Linux'
	'manjaro-tools-iso: richiesto per generare ISO su Manjaro'
	'dracut: per la generazione initramfs su Garuda/EndeavourOS'
	'mkinitcpio-nfs-utils: per il supporto di rete PXE in fase di boot live'
)

# Gestione pulita della transizione (copre sia i vecchi tool che eventuali varianti create in passato)
provides=('penguins-eggs')
conflicts=('oa-tools' 'oa-tools-manjaro')
replaces=('oa-tools' 'oa-tools-manjaro')

package() {
	# Tracciamo i confini
	mkdir -p "${pkgdir}/usr"
	mkdir -p "${pkgdir}/etc"

	# Usiamo $startdir per puntare alla root dello staging (/tmp/oa-stage-dir)
	cp -a "${startdir}/usr/"* "${pkgdir}/usr/"
	cp -a "${startdir}/etc/"* "${pkgdir}/etc/"
}
