Name:           oa-tools
Version:        {{.Version}}
Release:        {{.Rel}}%{?dist}
Summary:        oa-tools universal Linux remastering
License:        GPL-3.0-or-later

%description
oa-tools universal Linux remastering system.

%files
/usr/bin/oa
/usr/bin/coa
/etc/oa-tools.d/
/usr/share/man/man1/
/usr/share/bash-completion/completions/
