# Maintainer: Piero Proietti <piero.proietti@gmail.com>
pkgname=oa-tools-manjaro
pkgver={{.BaseVersion}}
pkgrel={{.Rel}}
pkgdesc="oa-tools universal Linux remastering"
arch=('x86_64')
url="https://penguins-eggs.net"
license=('GPL3')
depends=(
	'manjaro-tools-iso'
	'arch-install-scripts'
	'bash-completion'
	'dosfstools'
	'efibootmgr'
	'git'
	'grub'
	'jq'
	'libisoburn'
	'mtools'
	'pv'
	'rsync'
	'squashfs-tools'
	'sudo'
)

conflicts=('penguins-eggs' 'oa-tools')
#backup=('etc/oa-tools.d/custom.yaml')
#options=(!debug)

package() {
    # Tracciamo i confini
    mkdir -p "${pkgdir}/usr"
    mkdir -p "${pkgdir}/etc"

    # Usiamo $startdir per puntare alla root dello staging (/tmp/oa-stage-dir)
    cp -a "${startdir}/usr/"* "${pkgdir}/usr/"
    cp -a "${startdir}/etc/"* "${pkgdir}/etc/"
}

