
[Unit]
Description=pve-live service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/pve-live.sh

[Install]
WantedBy=multi-user.target
