pkgbase = distrobuilder-menu
	pkgdesc = A python console frontend to Distrobuilder for building standard or customised LXD / LXC images
	pkgver = 0.2.9
	pkgrel = 2
	url = https://github.com/itoffshore/distrobuilder-menu
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python-urllib3
	depends = python-yaml
	optdepends = go-yq: merge cloudinit configuration with yq
	source = distrobuilder-menu-0.2.9.tar.gz::https://github.com/itoffshore/distrobuilder-menu/archive/0.2.9.tar.gz
	md5sums = 35569f29d4b43f9d80ad358e715b6ec1

pkgname = distrobuilder-menu
