if loadfont $prefix/font.pf2 ; then
  set gfxmode=800x600
  set gfxpayload=keep
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

set theme=/boot/grub/theme.cfg

insmod play
play 960 440 1 0 4 440 1
if [ ${iso_path} ] ; then
set loopback="findiso=${iso_path}"
export loopback
fi

menuentry "%custom-name% (kernel %kernel%) Italiano" {
  linux %vmlinuz% boot=live components locales=it_IT.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% quiet splash "${loopback}"
  initrd  %initrd-img%
}
submenu "%custom-name% with Localisation Support" {
    menuentry "English (en)" {
    linux %vmlinuz% boot=live components locales=en_US.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% quiet splash "${loopback}"
    initrd  %initrd-img%
    }
    menuentry "French (fr)" {
    linux %vmlinuz% boot=live components locales=fr_FR.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% quiet splash "${loopback}"
    initrd  %initrd-img%
    }
    menuentry "German (de)" {
    linux %vmlinuz% boot=live components locales=de_DE.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% quiet splash "${loopback}"
    initrd  %initrd-img%
    }
    menuentry "Portuguese (Brazil) (pt_BR)" {
    linux %vmlinuz% boot=live components locales=pt_BR.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% quiet splash "${loopback}"
    initrd  %initrd-img%
    }
        menuentry "Spanish (es)" {
    linux %vmlinuz% boot=live components locales=es_PE.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% quiet splash "${loopback}"
    initrd  %initrd-img%
    }
}
{
  menuentry "%custom-name% (kernel %kernel%) safe" {
  linux %vmlinuz% boot=live components locales=en_US.UTF-8 %netconfig-opt% %username-opt% %timezone-opt% nosplash vga=normal "${loopback}"
  initrd  %initrd-img%
}
# Tutti questi restano da provare nella opzione safe
# memtest noapic noapm nodma nomce nolapic nomodeset nosmp    
