#!/bin/bash

# Cerchiamo la radice: prima controlliamo se l'ambiente passa $ROOT, altrimenti usiamo il fallback
TARGET_ROOT=${ROOT}

if [ -z "$TARGET_ROOT" ]; then
    TARGET_ROOT=$(mount | grep proc | grep calamares | awk '{print $3}' | sed -e "s#/proc##g")
fi

if [ -z "$TARGET_ROOT" ]; then 
    TARGET_ROOT=$(ls -d /tmp/calamares-root-* 2>/dev/null | head -n 1)
fi

echo "oa-bootloader-bridge: copia oa-bootloaade su $TARGET_ROOT"

# Copia lo script oa-bootloader.sh all'interno del sistema bersaglio
cp /etc/oa-tools.d/installer.d/oa-bootloader.sh "$TARGET_ROOT/tmp/"

# Esegue lo script nella gabbia chroot
chroot "$TARGET_ROOT" /bin/bash /tmp/oa-bootloader.sh
