---
componentName: eggs

images:
  productIcon:    "eggs.png"
  productLogo:    "eggs.png"
  productWelcome: "welcome.png"

slideshow:       "show.qml"
slideshowAPI:    1

strings:
  productName:         "{{ .ProductName }}"
  shortProductName:    "{{ .ShortProductName }}"
  version:             "{{ .Version }}"
  shortVersion:        "{{ .Version }}"
  versionedName:       "{{ .VersionedName }}"
  shortVersionedName:  "{{ .ShortVersionedName }}"
  bootloaderEntryName: "{{ .BootloaderEntryName }}"
  productUrl:          "{{ .ProductUrl }}"
  supportUrl:          "{{ .SupportUrl }}"
  knownIssuesUrl:      "{{ .KnownIssuesUrl }}"
  releaseNotesUrl:     "{{ .ReleaseNotesUrl }}"

style:
  SidebarBackground:        "#292F34"
  sidebarBackground:        "#292F34"
  SidebarBackgroundCurrent: "#D35400"
  sidebarBackgroundCurrent: "#D35400"
  SidebarText:              "#FFFFFF"
  sidebarText:              "#FFFFFF"
  SidebarTextCurrent:       "#292F34"
  sidebarTextCurrent:       "#292F34"

welcomeStyleCalamares: true
