---
# unpackfs.conf - Generato dinamicamente il {{ .Date }}
# Filosofia: https://penguins-eggs.net/blog/eggs-bananas

unpack:
  - source: "{{ .SquashPath }}"
    sourcefs: "squashfs"
    destination: ""
    