[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Penguin's eggs
Type=Link
URL=https://pieroproietti.github.io/
Icon=/home/artisan/penguins-eggs/src/assets/eggs.png
Name[it_IT]=Penguin's eggs
