[Desktop Entry]
Version=1.0
Type=Application
Name=Penguins Eggs
GenericName=System Remaster Tool
Comment=Utility CLI per creare distribuzioni Linux live personalizzate
Exec=eggs
Icon=penguins-eggs
Categories=System;
Terminal=true
StartupNotify=false
Keywords=remaster;live;iso;linux;customization;
