
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Rescapp logs
Name[en_US]=Rescapp logs
Comment[en_US]=Show Rescapp - Rescue Tool logs
Comment=Show Rescapp - Rescue Tool logs
Exec=pcmanfm-qt /home/user/.rescapp/log/
Icon=folder.png
