[Desktop Entry]
Encoding=UTF-8
Name=Eggs unattended install
Comment=Start unattended installation
Icon=cinnamon-symbolic
Type=Application
Categories=
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
X-KDE-AutostartScript=true
# XFCE working
Exec=sudo /usr/bin/eui-start.sh
Terminal=true

#
# Cinnamon start just with terminal=false
#
# Exec=/usr/bin/xfce4-terminal -- /usr/bin/bash -c /usr/bin/eui-start.sh
# Terminal=false
#
