#!/bin/bash
# Debian specific runtime snippets for OA remaster

{{ define "admin_group" }}sudo{{ end }}

{{ define "find_kernel_initrd" }}
# Debian style kernel+initrd discovery
KERNEL_PATH=$(find /boot -type f -name "vmlinuz*" | sort | tail -n1 || true)
INITRD_PATH=$(find /boot -type f -name "initrd*" -o -name "initrd.img*" | sort | tail -n1 || true)
{{ end }}

{{ define "initramfs_cmd" }}
update-initramfs -u -k all
{{ end }}

{{ define "install_logic" }}
update-grub || true
{{ end }}
