#!/bin/bash
# Manjaro-specific tweaks

{{ define "admin_group" }}wheel{{ end }}

{{ define "boot_params" }}misobasedir=manjaro misolabel=${VOL_ID} cow_spacesize=2G{{ end }}

{{ define "find_kernel_initrd" }}
KERNEL_PATH=$(ls -1 /boot/vmlinuz* 2>/dev/null | tail -n1 || true)
INITRD_PATH=$(ls -1 /boot/initramfs* 2>/dev/null | tail -n1 || true)
{{ end }}

{{ define "initramfs_cmd" }}
mkinitcpio -P
{{ end }}

{{ define "install_logic" }}
grub-mkconfig -o /boot/grub/grub.cfg || true
{{ end }}
