# UBUNTU
# isolinux/menu.cfg
INCLUDE stdmenu.cfg

MENU TITLE Penguin's eggs - Perri's Brewery edition - Main

label live
  menu label Start {{{customName}}} (kernel {{{kernel}}})
  	linux {{{vmlinuz}}} boot=live locales=it_IT.UTF-8 quiet splash
  	initrd  {{{initrdImg}}}

  menu default

label xforcevesa
  menu label Start in compatibility mode
  	linux {{{vmlinuz}}} boot=live quiet splash ramdisk_size=1048576 root=/dev/ram rw noapic noacpi nosplash irqpoll -- 
  	initrd  {{{initrdImg}}}
