[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Rescapp
Name[en_US]=Rescapp
Comment[en_US]=Rescapp - Rescue Tool
Comment=Rescapp - Rescue Tool
Exec=rescapp
#X-GNOME-Autostart-enabled=true
Icon=rescapp
