pkgbase = penguins-eggs
	pkgdesc = A console tool that allows you to remaster your system and redistribute it as live images on USB sticks or via PXE
	pkgver = 25.9.8
	pkgrel = 1
	url = https://penguins-eggs.net
	arch = any
	license = GPL2
	depends = arch-install-scripts
	depends = dosfstools
	depends = efibootmgr
	depends = erofs-utils
	depends = findutils
	depends = git
	depends = grub
	depends = jq
	depends = libarchive
	depends = libisoburn
	depends = lvm2
	depends = manjaro-tools-iso
	depends = mkinitcpio-nfs-utils
	depends = mtools
	depends = nbd
	depends = nodejs
	depends = pacman-contrib
	depends = parted
	depends = polkit
	depends = procps-ng
	depends = pv
	depends = python
	depends = rsync
	depends = squashfs-tools
	depends = sshfs
	depends = wget
	depends = xdg-utils
	optdepends = bash-completion: eggs autocomplete
	optdepends = calamares: system installer GUI
	optdepends = zsh-completions: eggs autocomplete
	options = !strip
	source = git+https://github.com/pieroproietti/penguins-eggs.git#tag=v25.9.8
	source = bootloaders.tar.gz::https://github.com/pieroproietti/penguins-bootloaders/releases/download/v25.9.8/bootloaders.tar.gz
	sha256sums = 37091dc5ec0e72905b5a4e61e21dcfc604b571c8492b3d9ad60a229574b59e1c
	sha256sums = c5dcfd82a8e65160af5c93365f07776a00d44e8b531d6641f4cadbbe7b4b5baf

pkgname = penguins-eggs
