name: 10002-ubuntu2404-container-test.yml

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: 10001-ubuntu2404-vm-test
    runs-on: ubuntu-24.04
    timeout-minutes: 7200
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - name: run 10001-ubuntu2404-vm-test
        run: |
          ./10002-ubuntu2404-container-test.sh
      
