[Desktop Entry]
Type=Application
Version=1.0
Name=Assistenza remota
GenericName=Assistenza remota
Exec=dw-agent
Comment=Assistenza remota ufficiozero
Keywords=calamares;system;install;debian;installer
Icon=remote-support
Terminal=false
